# NIOS II EDS stuff.
.metadata/
RemoteSystemsTempFiles/
obj/
*.a
*.elf
*.map
*.objdump
.force*
bsp_*/HAL/
bsp_*/drivers/
bsp_*/*.h
bsp_*/*.c
bsp_*/*.x
bsp_*/*.html
bsp_*/*.gdb
bsp_*/*.mk
bsp_*/Makefile
